---
layout: empty
title: Create Device
permalink: /device-create/
uid: device-create
---

    <div class="container">
      <div class="card card-register mx-auto mt-5">
        <div class="card-header">Registrera enhet</div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <div class="form-label-group">
                <input type="text" id="inputName" class="form-control" placeholder="Namn" required="required" autofocus="autofocus" maxlength="22">
                <label for="inputName">Namn</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" id="inputLatitude" class="form-control" placeholder="Latitude" required="required">
                    <label for="inputLatitude">Latitude</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" id="inputLongitude" class="form-control" placeholder="Longitude" required="required">
                    <label for="inputLongitude">Longitude</label>
                  </div>
                </div>
              </div>
            </div>
            <a id="registerDeviceButton" class="btn btn-success btn-block text-white font-weight-bold">Registrera</a>
          </form>
          <div class="text-center">
            <br>
            Koordinater kan hämtas med en sida som <a href="https://www.latlong.net/">https://www.latlong.net/</a>. Skriv in addressen eller klicka på kartan, och kopiera latitude och longitude i decimal form.
          </div>
        </div>
      </div>
    </div>
