---
layout: default
title: Devices
permalink: /devices/
uid: devices
---

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Fumi</a>
            </li>
            <li class="breadcrumb-item active">Enheter</li>
          </ol>

          <a id="create-device-button" class="btn btn-success mb-3" href="{{ "device-create" | prepend: site.baseurl }}"><i class="fas fa-plus"></i></a><br>

          <!-- DataTables -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Enheter</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Namn</th>
                      <th>Latitude</th>
                      <th>Longitude</th>
                      <th>Skapad datum</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>ID</th>
                      <th>Namn</th>
                      <th>Latitude</th>
                      <th>Longitude</th>
                      <th>Skapad datum</th>
                      <th></th>
                    </tr>
                  </tfoot>
                  <tbody id="devices-list">
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted last-updated">---</div>
          </div>

          <!-- Delete Modal-->
          <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Är du säker på att ta bort?</h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">Är du säker på att du vill ta bort denna enhet?</div>
                <div class="modal-footer">
                  <div id="deviceDeleteID" class="d-none"></div>
                  <button class="btn btn-secondary" type="button" data-dismiss="modal">Avbryt</button>
                  <a class="btn btn-danger text-white font-weight-bold" onclick="deleteDeviceForm(); return false">TA BORT</a>
                </div>
              </div>
            </div>
          </div>
