---
layout: default
title: Results
permalink: /results/
uid: results
---

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Fumi</a>
            </li>
            <li class="breadcrumb-item active">Resultat</li>
          </ol>

          <!-- DataTables -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Resultat</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Antal</th>
                      <th>Tidstämpel</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>ID</th>
                      <th>Antal</th>
                      <th>Tidstämpel</th>
                      <th></th>
                    </tr>
                  </tfoot>
                  <tbody id="reports-list">
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted last-updated">---</div>
          </div>
