<!DOCTYPE html>
<html lang="sv">
    {% include head.html %}
    <body id="page-top">
        <div id="page-uid-{{ page.uid }}"></div>
        {% include nav.html %}
	{{ content }}
	{% include footer.html %}
	{% include js.html %}
    </body>
</html>
