<!DOCTYPE html>
<html lang="se">
    {% include head.html %}
    <body id="page-top" class="bg-dark">
        <div id="page-uid-{{ page.uid }}"></div>
	{{ content }}
	{% include js.html %}
    </body>
</html>
