<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>

    <!-- Bootstrap core CSS-->
    <link href="{{ "assets/vendor/bootstrap/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{{ "assets/vendor/fontawesome-free/css/all.min.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="{{ "assets/vendor/datatables/dataTables.bootstrap4.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Map plugin CSS-->
    <link href="{{ "assets/vendor/leaflet/leaflet.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ "assets/css/sb-admin.css" | prepend: site.baseurl }}" rel="stylesheet">
    
</head>
