    <!-- Bootstrap core JavaScript-->
    <script src="{{ "assets/vendor/jquery/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" | prepend: site.baseurl"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ "assets/vendor/jquery-easing/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ "assets/js/sb-admin.min.js" | prepend: site.baseurl }}"></script>

    <!-- Page level plugin JavaScript-->
    <script src="{{ "assets/vendor/chart.js/Chart.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "assets/vendor/datatables/jquery.dataTables.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "assets/vendor/datatables/dataTables.bootstrap4.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "assets/vendor/leaflet/leaflet.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Fumi script-->
    <script src="{{ "assets/js/fumi_global.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "assets/js/fumi_results.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "assets/js/fumi_index.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "assets/js/fumi_devices.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "assets/js/fumi_device_create.js" | prepend: site.baseurl }}"></script>
