    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1 p-0" href="index.html">FUMI</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      </form>

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="#">Activity Log</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
          </div>
        </li>
      </ul>

    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ "" | prepend: site.baseurl }}">
            <i class="fas fa-fw fa-home mx-3"></i>
            <span>Startsida</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "devices/" | prepend: site.baseurl }}">
            <i class="fas fa-fw fa-server mx-3"></i>
            <span>Enheter</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "results/" | prepend: site.baseurl }}">
            <i class="fas fa-fw fa-table mx-3"></i>
            <span>Resultat</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "status/" | prepend: site.baseurl }}">
            <i class="fas fa-fw fa-tachometer-alt mx-3"></i>
            <span>Status</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "users/" | prepend: site.baseurl }}">
            <i class="fas fa-fw fa-users mx-3"></i>
            <span>Användare</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "settings/" | prepend: site.baseurl }}">
            <i class="fas fa-fw fa-cogs mx-3"></i>
            <span>Inställningar</span></a>
        </li>
      </ul>

      <div id="content-wrapper">

        <div class="container-fluid">
